{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "valid-typeof": "warn",
    "no-console": "off"
  },
  "extends": ["eslint:recommended", "eslint-config-prettier"],
  "env": {
    "browser": true
  }
}
